:root {
  --background-light: #ffffff;
  --background-dark: #000000;
  --text-light: #000000;
  --text-dark: #ffffff;
  --button-background: #007bff;
  --button-hover: #0056b3;
  --input-border: #ccc;
}

body {
  font-family: Arial, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.mnemonic-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

input[type="text"], select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--button-background);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}

button:focus {
  outline: none;
}

label {
  margin-right: 10px;
}

h1, h2 {
  margin-bottom: 20px;
}

p {
  margin-top: 10px;
}
